.profileWidget {
	width: 230px;
	height: 200px;
	position: absolute;
	right: -5px;
	margin-top: 280px;
	border-radius: 30px;
	background-color: #dafdd4;
	border: 1px solid #243119;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	gap: 20px;
	text-align: center;
	font-size: 30px;
	color: #243119;
	z-index: 11;
	box-shadow: 0px 0px 10px rgba(10, 27, 1, 0.5);
}
.textWrapper {
	align-self: stretch;
	height: 58px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 18px;
}
.header {
	align-self: stretch;
	flex: 1;
	position: relative;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.buttonWrapper {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-align: left;
	font-size: 16px;
}
.text {
	position: relative;
	font-weight: 600;
}
.button {
	width: 182px;
	height: 45px;
	border-radius: 15px;
	background-color: #ecffe9;
	border: 1px solid #243119;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	flex-shrink: 0;
}
.buttonDark {
	width: 182px;
	height: 45px;
	border-radius: 15px;
	background-color: #426340;
	border: 1px solid #243119;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	flex-shrink: 0;
	color: #dafdd4;
}