.profileWidget {
	width: 160px;
	height: 220px;
	position: absolute;
	right: -5px;
	margin-top: 290px;
	border-radius: 25px;
	background-color: #dafdd4;
	border: 1px solid #243119;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	gap: 10px;
	text-align: center;
	font-size: large;
	color: #243119;
	z-index: 11;
	box-shadow: 0px 0px 10px rgba(10, 27, 1, 0.5);
}
.textWrapper {
	align-self: stretch;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 18px;
}
.header {
	align-self: stretch;
	flex: 1;
	position: relative;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
.buttonWrapper {
	align-self: stretch;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-align: left;
	font-size: small;
}
.text {
	position: relative;
	font-weight: 600;
}
.button {
	width: 140px;
	height: 40px;
	border-radius: 15px;
	background-color: #ecffe9;
	border: 1px solid #243119;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	flex-shrink: 0;
	transition: background-color 0.2s ease;
}
.button:hover {
  background-color: #c4c4c4;
}
.button:active {
  background-color: #898989;
}
.buttonDark {
	width: 140px;
	height: 40px;
	border-radius: 15px;
	background-color: #426340;
	border: 1px solid #243119;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	flex-shrink: 0;
	color: #dafdd4;
	transition: background-color 0.2s ease;
}
.buttonDark:hover {
  background-color: #2f472e;
}
.buttonDark:active {
  background-color: #233522;
}